/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/chatPage/components/requestFriends/styles.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__PXm6e {
  margin: 10px;
}

.styles_divProfile__Se9bh {
  position: relative;
  display: flex;
  width: 18vh;
  align-items: center;
  background-color: aliceblue;
  padding: 3px;
  border-radius: 10px;
  margin: 10px;
}
.styles_imgProfile__gnHx6 {
  border-radius: 50%;
}
.styles_nameUser__Zs8ns {
  color: black;
  margin-left: 10px;
}
.styles_twoButton__WlffO {
  position: absolute;
  right: 5px;
}

.styles_button__1w4sr {
  margin: 5px;
  border: none;
  background: none;
}

