@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: skyblue;
}

.main-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-started {
  padding: 5px;
  background-color: yellow;
}