/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/chatPage/components/styles.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.styles_mainLayout__uYA1k {
  display: flex;
  justify-content: end;
  color: white;
  background-color: black;
  padding: 10px;
}

.styles_requistFrd__6vu2l {
  margin-right: 20px;
}

