/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/chatPage/components/partListMsg/styles.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_imgProfile__dV77a {
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.styles_partMessage__fuEna {
  background-color: #f1f3f9;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 40vh;
  border-radius: 20px;
}

.styles_topProfile__UGppQ {
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4vh;
  width: 40vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.styles_formSendMsg__s9BER {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.styles_InputText__sF4CB {
  background-color: #f1f3f9;
  height: 2.1vh;
  border: none;
  width: 90%;
}
.styles_InputText__sF4CB:focus {
  outline: none;
  border: none;
}
/* msg right */
.styles_sendMsgRight__ekbie {
  display: block;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;

  max-width: 95%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  word-wrap: break-word;
  align-items: center;
  justify-content: space-between;
}

.styles_msgList__yTm0Y {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: right;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/chatPage/components/partListFriends/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_listFriends__nICW8 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 18vh;
  margin-right: 10px;
  border-radius: 20px;
}

/* chat and + button */
.styles_topList__uYGkC {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vh;
}

.styles_addChanls__6vxJw {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  width: 3vh;
  background-color: #254bd6;
  border-radius: 20%;
}

/* icon + title + time */
.styles_divProfile___VLp1 {
  display: flex;
  width: 18vh;
  align-items: center;
  position: relative;
  border-bottom: 0.01px solid #000 !important;
}

.styles_imgProfile__lSHEX {
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
}

.styles_timeLastmsg__wz_o_ {
  color: grey;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 5px;
}

.styles_container__yAuqB {
  overflow: auto;
}

