.main {
  background-color: #151b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.listFriends {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 18vh;
  margin-right: 10px;
  border-radius: 20px;
}

/* chat and + button */
.topList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16vh;
}

.addChanls {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  width: 3vh;
  background-color: #254bd6;
  border-radius: 20%;
}

/* icon + title + time */
.divProfile {
  display: flex;
  width: 18vh;
  align-items: center;
  position: relative;
  border-bottom: 0.01px solid #000;
}

.imgProfile {
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.timeLastmsg {
  color: grey;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 5px;
}

.container {
  overflow: auto;
}

/* part msg */

.partMessage {
  background-color: #f1f3f9;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 40vh;
  /* padding: 10px; */
  /* margin-left: 10px; */
  border-radius: 20px;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.topProfile {
  background-color: red;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4vh;
  width: 40vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.InputText {
  background-color: #f1f3f9;
  height: 2.1vh;
  border: none;
  width: 90%;
}
.InputText:focus {
  outline: none;
  border: none;
}
