.btn {
  background-color: brown !important;
}

.Clints button {
  background-color: blue; /* Green */
  color: white;
  padding: 5px 5px;
  margin: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
